<html>
	<head>
	<style>
		BODY {
			padding: 0px;
			margin: 0px;
		}
	</style>	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&sensor=false">
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
	</script>
	<script>
		// Douglas Crockford's module pattern
		MAPS = (function (){
			var map,
				center,
				mapOptions;
			function init () {
				map = $('#mapa').get(0);  
				center = new google.maps.LatLng( -43.2663200697085, -65.3104146197085);
				mapOptions = {
	    			zoom: 6,
    				mapTypeId: google.maps.MapTypeId.ROADMAP,
    				center: center,
				    disableDefaultUI: true
  				};
  				mapa = new google.maps.Map(mapa, mapOptions)
				/*
				var marker = new google.maps.Marker({
  					position: center,
  					map: map,
  					title: "Punto",
  					draggable: true
  				});
  				
  				*/
			} // Fin init
			$(init); // Carga de pagina
			
			// Cosas publicas
			return {
				map: map
			}
		})();
		</script>
	</head>
	<body>
		<div style="width: 100%; height:100%" id="mapa">

		</div>
	</body>
</html>